aio-pika==8.3.0
aiormq==6.6.4
anyio==3.6.2
black==23.1.0
click==8.1.3
fastapi==0.89.1
h11==0.14.0
idna==3.4
multidict==6.0.4
mypy-extensions==0.4.3
packaging==23.0
pamqp==3.2.1
pathspec==0.11.0
pika==1.3.1
platformdirs==2.6.2
pydantic==1.10.4
sniffio==1.3.0
starlette==0.22.0
tomli==2.0.1
typing-extensions==4.4.0
uvicorn==0.20.0
yarl==1.8.2
